* {
	margin: 0;
	padding: 0;
}
#quiz {
	background:#fff;
	border:1px solid #222;
	border-radius: 5px;
	padding: 20px;
	width: 400px;	
	margin:280px auto;
}

body {
    background-image : url('img/hand.jpg');
    background-position : left top;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size : 500px;
}
#quiz button {	
	border: 1px solid #222;
	border-radius: 20px;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: auto;
	padding: 10px 25px;
}
p {
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}